*{
    margin: 0%;
    padding: 0%;

}
header{
    height:70px;
}
.head{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.strict{
    width: 40%;
    padding: 20px;
}
.menu{
    width: 40%;
    padding: 30px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.ul li{
    
    
}
ul li a{
    text-decoration: none;
    color: #2d3950;
    font-family: 'Lato', sans-serif;
    text-transform:capitalize;

}
.banner{
    background-image: url(../images/image.png);
   min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.strc{
    width:30%;
}

.strc h1{
    font-family:'Lato', sans-serif;
    color: #ffffff;
    text-transform: capitalize;
    font-size: 90px;

}
.strc span{
    width: 100%;
    height: 2px;
    margin: auto;
    display: block;
    background: #15a4fa;
    margin-bottom: 20px;

}
.strc p{
     font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 14px;

}
.strc button{
   color: #fff;
    background: transparent;
    padding: 10px 20px;
    border: 1px solid #15a4fa;
    border-radius: 5px;
    transition: .4s all ease-in-out;
    cursor: pointer;
    margin-bottom: 100px;

}
.strc button:hover{
    background-color:#15a4fa;
    color: #fff;
}
.strc a{
    color: #ffffff

}
.content{
    width: 80%;
    text-align: center;
    padding: 50px;
    margin-left: 100px;
}

.content h1{
    font-family:'Lato', sans-serif;
    color: #636c7d;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.content p{
    font-family:'Lato', sans-serif;
    color: #636c7d;
    text-transform: capitalize;
    
}
.logo_dgn{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
.phon img{
    height: 50px;
    margin-bottom: 15px;
}
.phon h4{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    margin-bottom: 10px;

}
.phon p{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    font-size: 12px;

}
.plane img{
    height: 50px;
    margin-bottom: 15px;
}
.plane h4{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    margin-bottom: 10px;

}
.plane p{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    font-size: 12px;


}
.mick img{
    height: 50px;
    margin-bottom: 15px;
}
.mick h4{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    margin-bottom: 10px;

}
.mick p{
    color:#636c7d;
    font-family:'Lato', sans-serif;
    font-size: 12px;

}
